WAREHOUSE_DB_USER=your_warehouse_user
WAREHOUSE_DB_PASSWORD=your_warehouse_password
WAREHOUSE_DB_NAME=nyc_taxi_warehouse

AIRFLOW_DB_USER=your_airflow_user
AIRFLOW_DB_PASSWORD=your_airflow_password
AIRFLOW_DB_NAME=airflow_metadata

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=eu-north-1
S3_BUCKET_NAME=de-nyc-taxi