WAREHOUSE_DB_USER=your_warehouse_user
WAREHOUSE_DB_PASSWORD=your_warehouse_password
WAREHOUSE_DB_NAME=nyc_taxi_warehouse

AIRFLOW_DB_USER=your_airflow_user
AIRFLOW_DB_PASSWORD=your_airflow_password
AIRFLOW_DB_NAME=airflow_metadata
